{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EVE – 리뷰</title>
    <!-- Google Font (로고용) -->
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'review/css/review.css' %}" />
    <script src="{% static 'review/js/review.js' %}" defer></script>
    {% comment %} nav.js 추가 부분 {% endcomment %}
    <script>
      window.STATIC_PATH = "{% static 'products/productimg/' %}";
    </script>
    <script src="{% static 'products/js/nav.js' %}" defer></script>
  </head>
  <body>
    <!-- ===== 상단 고정 영역 ===== -->
    <header class="top-bar">
      {% include "products/header.html" %}
      <h1 class="page-title">리뷰</h1>
    </header>

    <!-- ===== 본문 ===== -->
    <div class="page-content">
      <section>
        <div class="wear-header">
          <div>
            착용 상품 <span class="count">{{ worn_product_count }}개</span>
          </div>
          <div class="sort">최신순</div>
        </div>
        {% for wp in worn_products %}
        <div class="review-item">
          <img src="{{ wp.product.shop }}" alt="{{ wp.product.title }}" />
          <div class="item-info">
            <div class="title">
              [{{ wp.product.shop }}] {{ wp.product.title }}
            </div>
            <div class="opt">{{ wp.color }} · {{ wp.size }}</div>
            <div class="price">{{ wp.product.price }}원</div>
          </div>
          <a href="{% url 'create_review' wp.product.id %}" class="btn-write"
            >리뷰 작성</a
          >
        </div>
        {% endfor %}

        <div class="review-list" id="review-wrap"></div>
      </section>
    </div>

    <!-- ===== 하단 네비 ===== -->
    {% include "products/nav.html" %}
  </body>
</html>
