
      body {
        margin: 0;
        padding: 0;
        font-family: "Pretendard Variable";
        background-color: white;
      }

      .login-container {
        /* height: 100vh; */
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .title {
        font-size: 32px;
        font-weight: bold;
        color: #b40103;
        font-family: "Prata";
        margin-bottom: 8px;
      }

      .subtitle {
        font-size: 14px;
        color: #b40103;
        font-family: "Prata";
        margin-bottom: 20%;
      }

      .login-button {
        width: 380px;
        height: 50px;
        border: none;
        border-radius: 24px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        cursor: pointer;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      }

      .btn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }

      .login-button img {
        width: 26px;
        height: 26px;
        left: 20px;
        margin-right: auto;
        margin-left: 20px;
        position: absolute;
      }

      .login-button.google {
        background-color: white;
        border: 1px solid #ddd;
      }

      .login-button.kakao {
        background-color: #fee500;
        color: #3c1e1e;
      }